body {
  margin: 0;
  background-image: url("./bg.avif");
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
}
.container {
  width: 80vw;
  height: 90vh;
  background-color: rgba(0, 3, 9, 0.674);
  backdrop-filter: blur(19px) saturate(180%);
  border-radius: 12px;
  border: 2px solid rgba(255, 255, 0, 0.125);
  display: flex;
}